.mainProject {
  display: flex;
  gap: 2.5rem;
  align-items: start;
}

.l-section {
  display: flex;
  gap: 10px;
  flex-direction: column;

}

.l-section button {
  all: unset;
  background-color: rgba(36, 37, 46, 1);
  width: 11rem;
  padding: 0.75rem 0;
  text-align: center;
  font-style: 1.05rem;
  text-transform: capitalize;
  opacity: 0.5;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  cursor: pointer;
  -o-transition: 0.3s;
}
.l-section button:hover {
  opacity: 1;
}
button.active {
  opacity: 1;
  letter-spacing: 0.6px;
  border: 1px solid var(--blue);
}
.r-section{
display: flex;
gap: 20px;
overflow-x: scroll;
}

@media (max-width:500px) {

  .r-section{
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-x: scroll;
    }

}

.icon-card {
  justify-content: space-between;

  align-items: center;
}
.icon-card a {
  /* align-items: center; */
  color: var(--blue);
}
.icon-card svg {
  color: var(--subtitle);
  font-size: 1.5rem;
  animation: trans 2s infinite ;

}
@keyframes trans {
  0%{
transform: translateX(0PX);
  }
  50%{

    transform: translateX(15PX);
  }
100%{
  transform: translateX(0PX);

}
}
/* .icon-card svg:hover {
  cursor: pointer;
  transition: 0.3s;
  color: var(--title);
  scale: 1.1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
} */
.box {
  gap: 15px;
  width: 270px;
  overflow: hidden;
  padding: .2rem 0.4rem;
  /* margin-bottom: 5px; */
}
article img {
  width:270px;
height: 160px;
padding: 3px ;
background-size: cover;
border-radius: 6px !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.card {
  position: relative;
margin-bottom: 15px;
  box-shadow: -1px 1px 1px rgba(255, 254, 254, 0.16) ;
    width: 270px;
  border: 1px solid rgba(93, 188, 252, 0.3);
  user-select: none;
  border-radius: 5px;
  transition: .6s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: linear-gradient(rgba(128, 128, 128, 0.4) , rgba(128, 128, 128, 0.4));
}



.card:hover {
  cursor: pointer;
  background: var(--navbar);

}
.title-card {
  /* width: 100%; */
  text-transform:capitalize;
  font-size: 1rem;
  margin-bottom: -1.4rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: .3px;
  /* margin-top: 1.4rem; */
  color: var(--title);
}
.card .box .subtitle {
  font-size: 0.8rem;
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
  width: 270px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}
.link{
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15PX;
  background: var(--border);
  border-radius: 10px;
  display: flex;
  /* align-items: center ; */
  justify-content: end;
  align-self: end;
color: var(--icon-hover);
  margin-right: 12px;
}
.link a:hover{
background:var(--title);
color: var(--border);

}
.light button.active ,.light .card:hover  {
  border: 1px solid #757474;

}

@media (max-width:600px) {
    .mainProject{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .l-section{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .l-section button{
width: 9.5rem; padding: 0.8rem 0;
font-size: .9rem    ;

    }
}