.footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
footer div p{
    color: var(--title);
font-size: 1.3rem;
margin-bottom: 1rem;
}
footer div p a {
margin-top: 2rem;

    color: var(--title);
}
.icons-footer{
    display: flex;
    gap: 3.5rem;

}